<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1 class="my-4">Dashboard</h1>
      <a href="/edit" class="btn btn-primary mb-4" id="newPostButton">Create a New Post</a>
      {{#each posts}}
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{truncate this.content 100}}</p>
          <div class="card-footer">
            <a href="/edit/{{this.id}}" class="btn btn-warning">Edit</a>
            <button data-id="{{this.id}}" class="btn btn-danger deletePostButton">Delete</button>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<script src="/js/delete.js"></script>